body {
    margin:0;
    padding:0;
    margin-top:25px;
    background-color:black;
    color:white;
    font-family: 'Playfair', sans-serif;
    font-size: 13px;
    font-weight: 100;
    }

.controls {
    margin:auto;
    width:80%;  
    text-align:center;  
}

.gustState {
  font-size: 13;
  
  color:blue;
}

button {
  font-size:12;
  font-family: 'Playfair', sans-serif;
  font-style: italic;
  font-style: oblique;
  background-color:transparent;
  border-color:black;
  border-radius:1000px;
  border-style:solid;
  border-width:1px; 
  height:130px;
  width:200px;
  cursor:pointer;
  color:white;
  box-shadow:1px 2px 8px grey;
  margin-left:10px;
}

p {
  
}

video{
  z-index:-1;
}

.disappear {
  opacity: 0;
  height:0px;
  margin:0px;
  padding:0px;
}

#submit {
  width:60px;
  height:20px;
  font-family: 'Playfair', sans-serif;

}