body {
    margin:0;
    padding:0;
    margin-top:25px;
    background-color:whitesmoke;
    color:black;
    text-shadow:1px 2px 4px grey;
    }

.controls {
    margin:auto;
    width:80%;  
    text-align:center;  
}

.gustState {
  font-size: 13;
  font-family:'Times New Roman', Times, serif;
  color:red;
}

button {
  font-size:12;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  font-style: oblique;
  background-color:transparent;
  border-color:black;
  border-radius:1000px;
  border-style:solid;
  border-width:1px; 
  height:100px;
  width:200px;
  cursor:pointer;
  color:black;
  box-shadow:1px 2px 8px grey;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

video{
  z-index:-1;
}

.disappear {
  opacity: 0;
  height:0px;
  margin:0px;
  padding:0px;
}

#submit {
  width:50px;
  height:20px;
}